<h1>Insert Ingredients to get a Recipe </h1>

<table>
  <tr>
    <th>Ingredient to Insert(Seperate by comma)</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @homepage.each do |homepage| %>
  <tr>
    <td><%= ingredient.ingredient_name %></td>
    <td><%= link_to 'Show', ingredient %></td>
    <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
    <td><%= link_to 'Destroy', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Ingredient', new_ingredient_path %>
